<?xml version="1.0" encoding="UTF-8"?>



<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
<property name="connection.url">jdbc:oracle:thin:@DESKTOP-VHPUIL7:1521:XE</property>
<property name="connection.username">system</property>
<property name="connection.password">hr</property>

<!-- JDBC connection pool (use the built-in) -->
<property name="connection.pool_size">1</property>
<property name="dialect">org.hibernate.dialect.OracleDialect</property>

<property name="dialect">org.hibernate.dialect.OracleDialect</property>
<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
<property name="hibernate.show_sql">true</property>
<property name="hbm2ddl.auto">create</property>


<!-- Names the annotated entity class -->


<mapping class="hibernate101.Udet"/>

</session-factory>

</hibernate-configuration>